.profile-container {
  text-align: left;
  padding: 1em;
  margin: auto;
}

.profile-container h2 {
  text-align: center;
}

.profile-container h3 {
  text-align: center;
}

.profile-container div {
  width: 80%;
  margin: auto;
  border-top: black solid 1px;
  padding: 1em;
  background-color: rgba(160, 153, 95, 0.4);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 0.5em;
}

.inner-container {
  height: 60vh;
  overflow-y: auto;
}
.profile-container div:first-child {
  border-top: none;
}

.profile-span {
  display: inline-block;
  margin: 0.5em 1em;
  text-align: center;
}

.body-shape {
  text-align: center;
}

.back-to-home {
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ffc107;
  transition: top ease 0.5s;
}

.back-to-home:hover {
  font-size: 1.6em;
}
