.people-list {
  list-style: none;
  margin: 1em auto;
  padding: 0;
  height: 80vh;
  width: 60%;
  overflow-y: auto;
}

.people-list li {
  display: block;
  margin: 0.5em auto;
  padding: 0.5em;
  background-color: rgba(160, 153, 95, 0.4);
  cursor: pointer;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  top: 0;
  transition: top ease 0.5s;
}

.people-list li:hover {
  position: relative;
  top: -5px;
}
